body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#animationContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.animated-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  cursor: pointer; /* カーソルをポインターに変更 */
}

.animated-image {
  animation: zoomInAndOut 4s infinite;
}

@keyframes zoomInAndOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.animated-stamp-button {
  position: absolute;
  top: 20px; /* 上端から20pxの位置に配置 */
  left: 20px; /* 左端から20pxの位置に配置 */
  font-size: 36px;
  color: red;
  background-color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  opacity: 0; /* 初期状態は非表示 */
}

/* モダン風のアニメーション */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
