body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#animationContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.animated-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer; /* カーソルをポインターに変更 */
  object-fit: cover;
}

.animated-image {
  animation: zoomInAndOut 4s infinite;
}

@keyframes zoomInAndOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.animated-stamp-button {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 36px;
  color: red;
  background-color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  opacity: 0; /* 初期状態は非表示 */
  transform: translate(-50%, -50%); /* 中央に配置するための位置調整 */
}

/* モダン風のアニメーション */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
